/node_modules
/oh_modules
/local.properties
/build-profile.json5
entry/build-profile.json5
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
.vscode
DOCS
.github
appfreeze-*.txt
jscrash-*.txt
cppcrash-*.txt
entry/src/main/resources/rawfile/test_account.json

entry/src/main/resources/rawfile/auth_sdk_config.json

entry/src/main/resources/rawfile/sms_config.json
